* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: auto;



    /* font-family: 'Fira Sans', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif; */
}

.row{
    width: 100%;
}



[class*="col-"]{
    float: left;
    padding: 10px;
    
}
[class*="col-"]{
    width: 100%;
    
}
header{
    background-color: #48E850;
    padding: 0 1%;
    text-align: center;
}
.logo{
    margin: 15px 0 0 0;
    font-size: 4rem;
    color: orangered;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid yellowgreen;
    height: 90px;
    width: 90px;
    transition: .8s;
}
.logo:hover{
    transform: scale(1.2);
}
.nav ul li{
    list-style: none;
    display: block;
    transition: 2s;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    
}
.nav ul li:hover{
    border-radius: 10px;
    transform: scale(1.5);
    color: black;
}
.nav ul li a:hover{
    color: rgb(90, 19, 19);
}



.row::after{
    content: '';
    clear: both;
    display: table;
}




/* main section start */


#banner-section{
    background-image: url('images/image2.jpg') !important;
    background: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100%;
}
.banner-content{
    text-align: center;
    padding: 50px 10px;
}
.banner-content h1{
    font-size: 3rem;
    padding: 20px 10px;
    width: 95%;
    margin: 15px auto;
    background-color: yellow;
    font-family: 'Handlee', cursive;
    border-radius: 8px;
    text-shadow: 3px 2px 5px black;
}
.banner-content h2{
    width: auto;
    margin: 15px auto;
    padding: 10px;
    font-size: 2rem;
    background-color: cadetblue;
    border-radius: 8px;
}
.btn{
    font-size: 1.2rem;
    padding: 10px;
    color: white;
    background-color: #243f64;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    transition: .5s;
}
.btn:hover{
    transform: scale(1.2);
}
#about-us{
    padding: 1%;
}
.about-us-content{
    text-align: center;
    padding: 1%;
}
.about-us-content h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;

}
.about-us-content p{
    font-size: 1rem;
    font-weight: lighter;
    margin: 10px;
    text-align: justify;
}


/* manu start */

.manu-section{
    padding: 1%;
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.item-desc{
    background-color: gray;
}
.item-name{
    font-size: 2rem;
    background-color: rgb(100, 99, 99);
    padding: 10px;
}
.item-desc > p{
    font-size: .8rem;
    margin: 7px;
    padding: 8px;
}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px gold;
}

.map{
    width: 100%;
    height: 350px;
}
#contact{
    text-align: center;
    background-color: #bec4cc;
    
}


.contact-details{
    margin: 70px auto;
    margin-top: 60px;
}
.footer{
    text-align: center;
    background-color: gray;
    color: black;
    padding: 1%;
}
.text p{
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
}
.btn{
    font-size: 1.5rem;
}

.footer::after{
    content: '';
    clear: both;
    display: table;
}





            /* Display  */
@media (min-width: 576px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}
      /* mediam display */
@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

   /* for large screen */
@media screen and (min-width: 992px) {
    .logo-div{
        text-align: left;
        margin-left: 15%;
    }
    .nav ul{
        text-align: right;
        margin-right: 10%;
    }
    .nav ul li{
        list-style: none;
        display: inline-block;
        padding: 15px;
    }
    .nav ul li a{
        display: inline-block;
    }

    .nav ul li a:hover{
        background-color: #74ee7a;
        border-radius: 10px;
    }
    .card-body img{
        height: 500px;
        object-fit: cover;
        display: block;
    }
    #banner-section{
        height: 100vh;
    }

    .logo{
        margin: 0px 0 0 0;  
    }
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}